<div class="column">
  <div class="card">
    <h2><b><%= customer.name %></b></h2>
    <%= image_tag(customer.image, size: "600x400") %>
    <div class="container">
      <p><%= customer.phone %></p>
      <p><%= customer.email %></p>
      <p><strong>Notes:</strong> <%= customer.notes %></p>
    </div>
  </div>
</div>