 <div class="card">
  <%= image_tag customer.image %>
  <div class="container">
    <h4><b><%= customer.name %></b></h4>
    <p><%= customer.phone %></p>
    <p><%= customer.email %></p>
    <p><strong>Notes</strong><%= customer.notes %></p>
  </div>
</div>